html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

::-webkit-input-placeholder {color:#ccc;}
::-moz-placeholder          {color:#ccc;}/* Firefox 19+ */
:-moz-placeholder           {color:#ccc;}/* Firefox 18- */


a:focus {outline:none;}
a::-moz-focus-inner {border:0;}

@font-face {
	font-family:"FranklinGothic Heavy";
	src:url("fonts/FranklinGothicHeavy/franklin-gothic-heavy.eot");
	src:url("fonts/FranklinGothicHeavy/franklin-gothic-heavy.eot?iefix") format("embedded-opentype"),
	url("fonts/FranklinGothicHeavy/franklin-gothic-heavy.woff") format("woff"),
	url("fonts/FranklinGothicHeavy/franklin-gothic-heavy.ttf") format("truetype"),
	url("fonts/FranklinGothicHeavy/franklin-gothic-heavy.svg") format("svg");
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:"Lato Bold";
	src:url("fonts/LatoBold/Lato-Bold.eot?") format("eot"),
	url("fonts/LatoBold/Lato-Bold.woff") format("woff"),
	url("fonts/LatoBold/Lato-Bold.ttf") format("truetype"),
	url("fonts/LatoBold/Lato-Bold.svg#Lato-Bold") format("svg");
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:"Lato Regular";
	src:url("fonts/LatoRegular/Lato-Regular.eot?") format("eot"),
	url("fonts/LatoRegular/Lato-Regular.woff") format("woff"),
	url("fonts/LatoRegular/Lato-Regular.ttf") format("truetype"),
	url("fonts/LatoRegular/Lato-Regular.svg#Lato-Regular") format("svg");
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:"Lato Light";
	src:url("fonts/LatoLight/Lato-Light.eot?") format("eot"),
	url("fonts/LatoLight/Lato-Light.woff") format("woff"),
	url("fonts/LatoLight/Lato-Light.ttf") format("truetype"),
	url("fonts/LatoLight/Lato-Light.svg#Lato-Light") format("svg");
	font-weight:bold;
	font-style:normal;
}

@font-face {
	font-family:"Lato Italic";
	src:url("fonts/LatoItalic/Lato-Italic.eot?") format("eot"),
	url("fonts/LatoItalic/Lato-Italic.woff") format("woff"),
	url("fonts/LatoItalic/Lato-Italic.ttf") format("truetype"),
	url("fonts/LatoItalic/Lato-Italic.svg#Lato-Italic") format("svg");
	font-weight:normal;
	font-style:normal;
}

.container {
	padding: 0;
}

a {
	color: rgb(241, 116, 173);
}

.pink {
	color: rgb(241, 116, 173);
}

.black {
	color: black
}

.white {
	color: white;
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/* TOP BAR */

#topbar {
	background: rgb(21, 21, 21);
	
	height: 78px !important;
	font-family: "Lato Bold";
	margin-bottom: 0;
}


#topbar_container {
	width: 1024px;
	padding: 0;
	height: inherit;	
}

#topbar_container .row {
	margin-right: 0;
	margin-left: 0;
}

#topbar_logo {	
	background: url('img/topbar_logo.png');
	width: 216px;
	height: 180px;	
	margin-left: -2px; /* shadow */
	margin-top: -36px;
}

#topbar_menu {
	position: relative;
	width: 800px;
	font-size: 16px !important;	
	margin: 0 auto;
	margin-left: 5px;
	padding-top: 22px;
	padding-right: 0;
}

#topbar_menu li {
	float: none;
    display: inline-block;
}

#topbar_menu a{
	padding: 10px 19px 10px 19px;	
	color: #ffffff;	
}

#topbar_menu a.pink {
	color: rgb(244, 141, 188);
}

#topbar_menu a:active{
	color: white;	
}

/*
#topbar_icons {
	width: 150px;
	height: 30px;
	float: none;
    display: inline-block;
}

#topbar_icons div {
	position: relative;
	width: 29px;
	height: 28px;
	display: inline-block;
}

#topbar_facebook div {
	background: url('img/topbar_facebook.png') no-repeat;
}

#topbar_twitter {
	padding-left: 10px;
}

#topbar_twitter div {	
	background: url('img/topbar_twitter.png') no-repeat;	
}
*/

/* TOP BANNER */

#topbanner {	
	width: 100%;
	height: 540px;
	background: rgba(64, 66, 75, 1) url('img/topbanner_background.png') right no-repeat;
	padding: 0;
}

#topbanner_container {
	width: 1024px;
	height: inherit;
	background-color: rgba(255, 255, 255, .1);
	padding: 0;

}


#topbanner_iphones {
	position: relative;
	z-index: 400;

	width: 555px;
	height: 531px;
	background: url('img/topbanner_iphones.png') no-repeat;
	margin: 0;
	margin-left: -242px;
	margin-top: 91px;
	display: inline-block;
}

#topbanner_main {
	z-index: -1;	
	width: 470px;
	margin-top: -520px;
	margin-right: 5px;
	margin-left: 555px;
}

#topbanner_title {
	
	color: white;
	font-size: 65px;
	font-family: "FranklinGothic Heavy";
	line-height: 1.0;
	margin-left: -30px;
}

#topbanner_soon {
	position: relative;
	z-index: 5;
	width: 518px;
	height: 80px;
	background: url('img/topbanner_soon.png') no-repeat;
	margin-left: -115px;
}

#topbanner_subscribe {
	position: relative;
	z-index: 3;
	width: 527px;
	height: 125px;
	background: rgb(241, 116, 173);
	border-radius: 0 10px 10px 0;
	margin-left: -58px;
	margin-top: -18px;
}

#topbanner_subtitle {
	font-family: "Lato Regular";
	font-size: 23px;
	color: white;
	padding-top: 30px;
	padding-left: 25px;
}

#topbanner_form {
	padding-left: 10px;
	padding-top: 10px;
}

#topbanner_form input[type="email"] {
	position: relative;
	float: left;
	z-index: 2;
	width: 440px;
	border-radius: 50px;
	border-style: none;
	height: 42px;
	padding-left: 20px;	
	outline: none;
	font-size: 23px;
	color: #1d1f26;
}

#topbanner_form input[type="email"]:-ms-input-placeholder {
	color:#ccc;
}

#topbanner_form input[type="submit"] {
	position: relative;
	z-index: 1;
	width: 80px;	
	padding: 0;
	margin: 0;
	height: 42px;		
	border-style: none;
	border-radius: 0 50px 50px 0;
	margin-left: -20px;
	background: url('img/topbanner_arrow.png') no-repeat 30px; 
	background-color: black;
	outline: none;
}


/* IDEA */
#idea {
	width: 1024px;
	/*background: rgba(0, 0, 0, 0.1);*/	
	padding-bottom: 15px;
}


#idea_title {
	font-family: "Lato Light";
	font-size: 55px;
	text-align: center;
	margin-top: 100px;
}


#idea_desc_container {
	position: relative;
	width: 100%;
	margin-top: 30px;
	padding-bottom: 30px;
}

#idea_video {
	position: relative;
	display: inline-block;
	float: left;
	width: 433px;
	height: 287px;
	padding-bottom: 287px;
	background: url('img/idea_videobg.png') no-repeat;
}

#idea_video_button {
	position: relative;	
	top: 200px;	
	width: 239px;
	height: 71px;	
	background: url('img/idea_playbtn.png') no-repeat;	
	cursor: pointer;
}

#idea_desc {
	position: relative;
	display: inline-block;
	float: right;
	width: 591px;
	height: 315px;
	padding-left: 30px;
	/*background:  rgba(0, 0, 0, 0.05);*/
}

#idea_desc1 {
	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
}

#idea_desc2 {

}

#idea_desc2 h2 {
	font-size: 19px;
	font-family: "Lato Bold";

}

#idea_benefits {
	position: relative;
	display: inline-block;
	float: right;
}

#idea_benefits .benefit {
	position: relative;
	display: inline-block;
	width: 265px;
	height: 60px;
	padding-right: 15px;
	margin-bottom: 50px;

	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
}

#idea_benefits .benefit_num {
	position: relative;
	display: inline-block;
	background: rgb(241, 116, 173);
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	vertical-align: middle;
	font-size: 25px;
	font-family: "Lato Bold";
	color: white;
	border-radius: 55px;
}

#idea_benefits .benefit_text {
	position: relative;
	float: right;
	width: 180px;
	margin-left: 10px;	
}

#idea_patterns_title {
	font-family: "Lato Light";
	font-size: 34px;
	text-align: center;
	margin-top: 10px;
}

#idea_patterns_image {
	background: url('img/idea_various_patterns.png');
	width: 949px;
	height: 161px;
	margin: 0 auto;
	margin-top: 35px;
}

#idea_vp_container {
	position: relative;
	width: 100%;
	margin-top: 40px;
}

#idea_vp_lamp {
	position: relative;
	float: left;
	width: 400px;
	height: 270px;
	background: url('img/idea_vp_lamp.png') no-repeat;
	background-position: center 30px;
}

#idea_vp_lamp_title {
	margin-top: 130px;
	font-family: "Lato Bold";
	font-size: 26px;
	text-align: center;
	color: rgb(241, 116, 173);
}

#idea_vp_desc {
	position: relative;
	float: right;
	width: 570px;
	height: 270px;
	font-size: 16px;
	font-family: "Lato Regular";	
	color: rgb(113, 113, 113);
}


/* MEET SMART SLEEP APP */

#mss {
	width: 100%;
	background-color: rgb(41, 41, 41);
}

#mss_container {
	width: 1024px;

}

#mss_title {
	font-family: "Lato Light";
	font-size: 55px;
	text-align: center;
	margin-top: 45px;
	color: white;
}

#mss_title_desc {
	font-family: "Lato Regular";
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	color: white;
	padding-bottom: 40px;
}

#mss_desc1 {
	display: inline-block;
}

#mss_desc1_left {
	position: relative;	
	width: 512px;
	display: inline-block;
	float: left;
}

#mss_desc1_left_title {
	background: url('img/mss_sheep1.png') no-repeat left bottom;
	height: 70px;
	padding-left: 125px;
	font-family: "Lato Bold";
	font-size: 19px;
	color: white;
	padding-top: 40px;
}

#mss_desc1_left_text {
	margin-top: 25px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: white;
	width: 470px;
}

#mss_desc1_right {
	position: relative;
	width: 512px;
	display: inline-block;
	float: right;
}

#mss_desc1_right_title {
	background: url('img/mss_sheep2.png') no-repeat left bottom;
	height: 70px;
	padding-left: 125px;
	font-family: "Lato Bold";
	font-size: 19px;
	color: white;
	padding-top: 40px;
}

#mss_desc1_right_text {
	margin-top: 25px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: white;
	width: 470px;
}


#mss_desc2 {
	display: inline-block;
	margin-top: 35px;
	height: 341px;
}

#mss_desc2_left {
	position: relative;	
	width: 512px;
	display: inline-block;
	float: left;
	padding-top: 95px;
}

#mss_desc2_left_title {
	font-size: 25px;
	font-family: "Lato Regular";
	color: white;
	text-align: right;
}

#mss_desc2_left_text {
	font-size: 16px;
	font-family: "Lato Regular";
	color: white;
	text-align: right;
	width: 440px;
	float: right;
	margin-top: 10px;
}
          
#mss_desc2_right {
	position: relative;
	width: 512px;
	display: inline-block;
}

#mss_desc2_right_soon {
	position: absolute;	
	margin-top: 3px;
	width: 518px;
	height: 341px;
	background: url('img/mss_soon.png') no-repeat bottom;
}
    

/* SIGN UP FOR UPDATES */

#signup {
	background: rgb(21, 21, 21);
	height: 100px;
	width: 100%;
}

#signup_container {
	width: 1024px;
}

#signup_title {
	font-family: "Lato Regular";
	font-size: 34px;
	height: 100px;
	line-height: 100px;
	vertical-align: middle;
	margin-left: 50px;
	position: relative;
	float: left;
	display: inline-block;
	color: white;
}

#signup_form {
	position: relative;
	height: 42px;
	display: inline-block;
	margin-top: 33px;
	margin-left: 15px;
}

#signup_form input[type="email"] {
	position: relative;
	float: left;
	z-index: 2;
	width: 600px;
	border-radius: 50px;
	border-style: none;
	height: 42px;
	padding-left: 20px;	
	outline: none;
	font-size: 23px;
	color: #1d1f26;
}

#signup_form input[type="email"]:-ms-input-placeholder {
	color:#ccc;
}

#signup_form input[type="submit"] {
	position: relative;
	z-index: 1;
	width: 80px;	
	padding: 0;
	margin: 0;
	height: 42px;		
	border-style: none;
	border-radius: 0 50px 50px 0;
	margin-left: -20px;
	background: url('img/topbanner_arrow.png') no-repeat 30px; 
	background-color: rgb(241, 116, 173);;
	outline: none;
}



/* GET MORE FOR LESS */

#getmore {
	width: 100%;
	background: rgb(243, 243, 244);
	padding-bottom: 85px;
}

#getmore_container {
	width: 1024px;
}

#getmore_title {
	font-family: "Lato Light";
	font-size: 55px;
	text-align: center;
	margin-top: 45px;
}

#getmore_fv {
	position: relative;
	margin-top: 50px;
	
	width: 100%;
	height: 332px;
	background: white;	   	
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

#getmore_fv_left {
	position: relative;	
	width: 491px;
	height: 332px;
	display: inline-block;
	float: left;
	padding: 30px;
	padding-bottom: 0;
}

#getmore_fv_left_title {
	margin-top: 10px;
	font-family: "Lato Regular";
	font-size: 26px;	
}

#getmore_fv_left_text {
	width: 400px;
	margin-top: 10px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
	line-height: 1.8;
}

#getmore_fv_right {
	position: relative;
	width: 533px;
	height: 332px;
	display: inline-block;
	float: right;
}

#getmore_video {
	position: relative;
	width: 533px;
	height: 332px;
	background: url('img/getmore_videobg.png') no-repeat;

}

#getmore_video_play {	
	position:absolute;
    top:50%; 
    left:50%; 
    margin-left: -47px;
    margin-top: -47px;
	width: 94px;
	height: 94px;
	background: url('img/getmore_playbtn.png') no-repeat;	
	cursor: pointer;
}


#getmore_extratime {
	position: relative;
	margin-top: 20px;	
	width: 100%;
	height: 332px;
	background: white;	   	
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

#getmore_extratime_left {
	position: relative;	
	width: 605px;
	height: 332px;
	display: inline-block;
	float: left;
	background: url('img/getmore_extratime.png') no-repeat center;
}


#getmore_extratime_right {
	position: relative;	
	width: 419px;
	height: 332px;
	display: inline-block;
	float: right;
	padding: 30px;	
	padding-bottom: 0;
}

#getmore_extratime_right_title {
	margin-top: 10px;
	font-family: "Lato Regular";
	font-size: 26px;	
}

#getmore_extratime_right_text {
	width: 370px;
	margin-top: 10px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
	line-height: 1.8;
}


#getmore_insomnia {
	position: relative;
	margin-top: 20px;	
	width: 100%;
	height: 399px;
	background: white;	   	
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);

}

#getmore_insomnia_left {
	position: relative;	
	width: 451px;
	height: 399px;
	display: inline-block;
	float: left;
	padding: 30px;	
	padding-bottom: 0;
}

#getmore_insomnia_left_title {
	margin-top: 10px;
	font-family: "Lato Regular";
	font-size: 26px;	
}

#getmore_insomnia_left_text {
	width: 370px;
	margin-top: 10px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
	line-height: 1.8;
}

#getmore_insomnia_right {
	position: relative;	
	width: 573px;
	height: 399px;
	display: inline-block;
	float: right;
	background: url('img/getmore_insomnia.png') no-repeat center;
}


/* EXPLORE SCIENCE AND ENJOY THE BENEFITS */

#expl {
	width: 100%;
	background: url('img/expl_bg.png') no-repeat center;
	height: 225px;
	background-color: rgb(56, 48, 39);
	text-align: center;
}

#expl_title {
	font-family: "Lato Light";
	font-size: 50px;
	text-align: center;
	margin-top: 35px;
	color: white;
}

#expl_button {
	position: relative;
	background: rgb(241, 116, 173);
	border-style: none;
	color: white;
	font-family: "Lato Regular";
	font-size: 16px;
	margin-top: 30px;
	padding: 15px 25px 15px 25px;
	border-radius: 5px;
}

#expl_button:hover{
	background: rgb(231, 106, 163);
}

/* HOW DOES POLYPHASIC SLEEP WORK */

#how {
	width: 100%;
	padding-bottom: 100px;
}

#how_container {
	width: 1024px;
}

#how_title {
	font-family: "Lato Light";
	font-size: 55px;
	text-align: center;
	margin-top: 55px;	
}

#how_desc1 {
	font-family: "Lato Regular";
	font-size: 16px;
	text-align: center;
	width: 900px;
	margin: 0 auto;
	margin-top: 25px;
	color: rgb(113, 113, 113);
	line-height: 1.8;
}

#how_desc1 b {
	font-family: "Lato Bold";
	color: #333;
}

#how_desc2 {
	margin-top: 10px;
}

#how_desc2_left {
	position: relative;	
	width: 500px;
	height: 332px;
	display: inline-block;
	float: left;
	background: url('img/how.png') no-repeat center;
}


#how_desc2_right {
	position: relative;	
	width: 524px;
	height: 332px;
	display: inline-block;
	float: right;
	padding: 30px;	
	padding-bottom: 0;
	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
	line-height: 1.5;
}

#how_desc2_bottom {
	font-family: "Lato Italic";
	font-size: 16px;
	color: rgb(113, 113, 113);	
}

/* SIMPLE 3-STEP ADAPTAION STRATEGY */

#steps {
	width: 100%;
	background: rgb(243, 243, 244);
	padding-bottom: 200px;
}

#steps_container {
	width: 1024px;
}

#steps_title {
	font-family: "Lato Light";
	font-size: 55px;
	text-align: center;
	margin-top: 55px;
}

#steps_title_desc {
	position: relative;
	margin-top: 20px;
	font-family: "Lato Regular";
	font-size: 16px;
	text-align: center;
}

#steps_path {
	margin-top: 95px;
	background: url('img/3step.png') no-repeat;
	width: 1019px;
	height: 1032px;
}


.steps_phase {
	background: white;	   	
	box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
	width: 455px;
}

.steps_phase_header {
	font-family: "Lato Regular";
	font-size: 19px;
	height: 50px;
	text-align: center;
	padding: 10px;
}

.steps_phase_body {
	font-family: "Lato Regular";
	font-size: 16px;
	padding: 15px 15px 15px 30px;
	line-height: 1.5;
	color: rgb(113, 113, 113);
}

#steps_phase1 {
	position: relative;
	top: -20px;
}

#steps_phase1 .steps_phase_header {
	background: rgb(247, 179, 210);
}

#steps_phase2 {
	position: relative;
	left: 570px;
	top: 190px;
}

#steps_phase2 .steps_phase_header {
	background: rgb(245, 152, 194);
}

#steps_phase3 {
	position: relative;
	left: 0px;
	top: 380px;
}

#steps_phase3 .steps_phase_header {
	background: rgb(241, 116, 173);
}


/* TESTIMONIALS */

#testimonials {
	width: 100%;
	background: rgb(41, 41, 41);
	padding-bottom: 60px;
}

#testimonials_container {
	width: 1024px;
	margin: 0 auto;
}

#testimonials_title {
	font-family: "Lato Light";
	font-size: 55px;	
	margin-top: 100px;
	color: white;
	display: inline-block;
}

#testimonials_success {
	position: relative;
	float: right;
	width: 311px;
	height: 133px;
	margin-top: 55px;
	margin-right: 150px;
	background: url('img/testimonials_success.png') no-repeat;
}


#testimonials_carousel_container {
	margin-top: 50px;
}

#testimonials_prev {
	position: relative;
	display: inline-block;
	float: left;
	width: 54px;
	height: 150px;
	background: url('img/testimonials_prev.png') no-repeat right;	
	cursor: pointer;
}

#testimonials_carousel {
	position: relative;
	display: inline-block;
	width: 915px;
}

#testimonials_next {
	position: relative;
	display: inline-block;
	float: right;
	width: 54px;
	height: 150px;
	background: url('img/testimonials_next.png') no-repeat left;
	cursor: pointer;
}

#testimonials_carousel .item{
	padding: 0 50px 0 80px;
	width: 915px;
	margin: 3px;
	height: 150px;
	background: url('img/testimonials_quote.png') no-repeat 20px 0px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: white;
	line-height: 1.5;
}

#testimonials_carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}



/* POSSIBLE DRAWBACKS */

#db {
	width: 100%;
	padding-bottom: 100px;
}

#db_container {
	width: 1024px ;	
	margin: 0 auto;
	
}

#db_title {
	font-family: "Lato Regular";
	font-size: 26px;
	text-align: center;
	margin-top: 55px;
}

#db_title_desc {
	text-align: center;
	color: rgb(113, 113, 113);
	font-family: "Lato Italic";
	font-size: 16px;
}

#db_desc {
	margin-top: 20px;
	width: 1025px;
	display: inline-block;
	
}

.db_item {
	min-height: 100px;
	margin-top: 30px;
	width: 470px;
	font-family: "Lato Regular";
	font-size: 16px;
	color: rgb(113, 113, 113);
	background: url('img/db_cross.png') no-repeat top left;
	padding-left: 45px; 
	line-height: 1.5;
}

#db_desc_left {
	position: relative;	
	width: 50%;
	display: inline-block;
	float: left;
}

#db_desc_right {
	position: relative;	
	width: 50%;
	display: inline-block;
	float: right;
}


/* FOOTER */

#footer {
	width: 100%;
	padding-bottom: 30px;
}

#footer hr {
	margin-bottom: 10px;
}

#footer_container {
	width: 1024px ;	
	margin: 0 auto;
}

#footer_contacts {
	position: relative;
	display: inline-block;
	float: left;
	width: 215px;
	height: 140px;

}

#footer_contacts_social {
	position: relative;
	margin: 0 auto;
	text-align: center;
}

#footer_twitter {
	position: relative;
	display: inline-block;
	width: 35px;
	height: 35px;
	background: url('img/footer_twitter.png') no-repeat;
}

#footer_facebook {
	position: relative;
	display: inline-block;
	margin-left: 5px;
	width: 36px;
	height: 35px;
	background: url('img/footer_facebook.png') no-repeat;
}

#footer_contacts_other {
	text-align: center;
	font-family: "Lato Regular";
	font-size: 14px;
	color: rgb(113, 113, 113);
}

#footer_form {
	float: left;
	width: 370px;
	height: 140px;
	display: inline-block;
	border-left: 1px solid rgba(0,0,0,.1);
}

#footer_form_title {
	position: relative;
	margin-top: 30px;
	text-align: center;
	font-family: "Lato Regular";
	font-size: 21px;
}

#footer_signup_form {
	margin-top: 10px;
	padding-left: 40px;
}

#footer_signup_form input[type="email"] {
	position: relative;
	float: left;
	z-index: 2;
	width: 250px;
	border-radius: 50px;
	border-style: none;
	height: 35px;
	padding-left: 20px;	
	outline: none;
	font-size: 21px;
	color: #1d1f26;
	background: rgb(235, 235, 235);
}

#footer_signup_form input[type="email"]:-ms-input-placeholder {
	color:#ccc;
}

#footer_signup_form input[type="submit"] {
	position: relative;
	z-index: 1;
	width: 60px;	
	padding: 0;
	margin: 0;
	height: 35px;		
	border-style: none;
	border-radius: 0 50px 50px 0;
	margin-left: -20px;
	background: url('img/topbanner_arrow.png') no-repeat 27px; 
	background-size: 20px 15px;
	background-color: rgb(241, 116, 173);;
	outline: none;
}

#footer_soon {
	position: relative;
	display: inline-block;
	float: left;
	width: 430px;
	height: 140px;
	background: url('img/footer_soon.png') no-repeat center;
	border-left: 1px solid rgba(0,0,0,.1);
}












